.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

}
.cart-container{
  margin-top: 50px;
}
.pagination{
  text-align: center;
  margin-bottom: 20px;
}
.pag-btn{
  margin-left: 20px;
  padding: 10px;
}